.wrapper {
    display: grid;
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    gap: 40px 30px;

    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        ". header header ."
        ". sidebar main ."
        "footer footer  footer footer";
}

.header {
    grid-area: header;

    display: none;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

@media (max-width: 765px) {
    .wrapper {
        padding: 15px;
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .sidebar {
        display: none !important;
    }
}
