.search {
	position: relative;
	width: 100%;
}

.input {
	width: 100%;
	padding-right: 19px;
}

.button {
	position: absolute;
	top: 50%;
	right: auto;
	transform: translate(-50%, -50%);
	width: 34px;
    height: 34px;
}